@import 'vars.scss';
@import 'libs.scss';
@import 'global.scss';
@import 'fonts.scss';

// START HEADER
.header{
  background-color: #fff;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header__text{
  margin-left: auto;
  margin-right: 50px;
  span{
    color: $red;
  }
}
.header__btn{
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.header__btn-login{
  background-color: $green;
}
.header__btn-register,
.header__btn-logout{
  background-color: $red;
  margin-left: 7px;
}
.header__menu{
  background-color: $bg;
}
.menu{
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #fff;
    font-size: 14px;
  }
}
.header__circle{
  &.active{
    display: block;
  }
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;
  &::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 14px;
  }
  span{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    right: -7px;
    top: -7px;
    font-size: 11px;
    color: #fff;
  }
}
.notification{
  span{
    background-color: $yellow;
  }
}
.header__box{
  display: flex;
  align-items: center;
}
.message{
  span{
    background-color: $tomato;
  }
}
.basket{
  margin-right: 20px;
  span{
    background-color: $green;
  }
}
.header__btn-login--off{
  display: none;                  // мы должны остовлять в верстке определенне дополнительные классы которы позволяют включать либо выключать элемент (active)
}
.header__btn-login--on{
  display: none;
  &.header__btn-login--on{
    display: block;
  }
}

.user{
  margin-right: 25px;
  padding-right: 20px;
  position: relative;
  &::before{
    content: "\f107";
    position: absolute;
    font-family: 'icomoon';
    font-size: 16px;
    color: #707070;
    top: 0;
    right: 0;
  }
  &__inner{
    display: flex;
    align-items: center;
  }
  &__images{
    margin-right: 15px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
  }
  &__info{
    font-size: 14px;
    line-height: 24px;
  }
  &__name{
    @include f500;
    color: #222;
  }
  &__money{
    color: $green;
    @include f700;
  }
}
.user__menu{
  top: 69px;
  left: 20px;
  border: 0px solid rgb(204, 204, 204);
  position: absolute;
  background-color: #fff;
  padding: 0 20px;
  width: 158px;
  transition: all .3s;
  height: 0;
  overflow: hidden;
  a{
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 15px;
  }
}
.circle__menu{
  position: absolute;
  top: 69px;
  z-index: 1;
}
.user__box,
.basket__box,
.message__box,
.notification__box{
  position: relative;
  height: 90px;
  margin-top: 40px;
  &:hover{
    .user__menu{
      height: auto;
      border-width: 1px;
      padding: 20px;
      overflow: auto;
    }
  }
}
.circle__menu{
  border-top: 1px solid #e0e0e0;
  top: 62px;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: all .3s;
}
.basket__box,
.message__box,
.notification__box{
  margin-top: 54px;
  margin-left: 15px;
  &:hover{
    .header__circle::before{
      color: $bg;
    }
    .circle__menu{
      overflow: hidden;
      height: auto;
    }
    .circle__item{
      padding: 23px ;
      border-width: 1px;
    }
  }
}
.circle__item{
  background-color: #fff;
  border: 0px solid #e0e0e0;
  border-top: none;
  padding: 0 23px;
  transition: all .3s;
  display: flex;
  align-items: center;
  width: 269px;
  position: relative;
  &::before{
    position: absolute;
    top: 27px;
    right: 28px; 
    color: #b0bec5;
    font-size: 16px;
  }
}
.circle__images{
  margin-right: 15px;
}
.circle__info-name{
  @include f500;
  color: $bg;
}
.circle__info-theme{
  font-size: 12px;
  color: $green;
}
.circle__info-price{
  @include f500;
  color: #000;
  font-size: 16px;
}
.circle__info-date{
  color: #707070;
  font-size: 10px;
}
.basket__summ{
  padding: 16px 17px 12px;
  border: 1px solid #e0e0e0;
  border-top: none;
  background-color: #fff;
}
.basket__title{
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 22px;
  margin-bottom: 15px;
  @include f700;
  font-size: 16px;
  color: $bg;
}
.basket__btn{
  @include f700;
  color: #fff;
  font-size: 14px;
  padding: 12px 5px;
  background-color: $green;
  text-align: center;
  width: 100px;
}
.basket__btn-checkout{
  width: 123px;
  margin-left: 6px;
  background-color: $red;
}
.notification__menu,
.message-menu{
  .circle__images{
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .circle__info{
    line-height: 18px;
  }
}
.icons-color::before{
  color: $tomato;
}
.header__btn-menu,
.menu__btn{
  display: none;
}
// END HEADER

// MODAL
#modal{
  background-color: $green;
  max-width: 730px;
  width: 100%;                    // ********************************************************************************
}
.login__title{
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
  color: #fff;
  text-transform: uppercase;
}
.login__wrapper{
  form{
    max-width: 400px;
    margin: 0 auto;
  }
  label{
    position: relative;
    display: block;
    width: 100%;
    &::before{
      position: absolute;
      font-family: 'icomoon';
      font-size: 14px;
      color: #fff;
      left: 18px;
      top: 9px;
    }
  }
  .login__label-name::before{
    content: "\f007";
  }
  .login__label-pass::before{
    content: "\f023";
  }
  input{
    height: 43px;
    margin-bottom: 8px;
    border: none;
    background-color: #76ae36;
    color: #fff;
    font-size: 14px;
    padding-left: 40px;
    display: block;
    width: 100%;
    &::placeholder{
      color: #fff;
      font-size: 14px;
      
    }
  }
  button{
    margin-top: 19px;
    padding: 18px 0 16px;
    background-color: #fff;
    width: 140px;
    text-transform: uppercase;
    border: none;
    margin-right: 10px;
    @include f700;
    color: #000;
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
  }
}
.lost-pass{
  display: block;
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}
.creat-acc{
  margin-top: 19px;
  padding: 15px 0 15px 28px;
  text-align: center;
  width: 246px;
  background-color: #76ae36;
  color: #fff;
  font-size: 18px;
  position: relative;
  &::before{
    content: '\f044';
    position: absolute;
    top: 15px;
    left: 35px;
    font-family: 'icomoon';
  }
}
.fancybox-button svg path{
  color: #fff;
}
// MODAL END

// START SEARCH
.search{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  min-height: 533px;
}
.search-modifer{
  min-height: 230px;
  & .search__inner{
    padding: 60px 0 55px;
  }
  & .search__inner-title{
    display: none;
  }
  & .search__inner-text{
    margin-bottom: 25px;
  }
}
.search__inner{
  padding: 155px 0 100px;
  color: #fff;
  text-align: center;
  &-title{
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;

  }
  &-text{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  &-form{
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      font-weight: 500;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder{
        color: #90a4ae;
        font-weight: 500;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}
// END SEARCH

// START PRODUCTS
.products{
  padding: 110px 0;
  background-color: $grey;
}
.products__inner-btn{
  text-align: center;
  margin-bottom: 60px;
  button{
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
  }
}
.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item{
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    font-weight: 500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name{
    max-width: 310px;
  }
  &-title{
    color: $bg;
    font-size: 18px;
    display: block;
  }
  &-category{
    display: block;
    color: $green;
    font-size: 14px;
  }
  &-price{
    font-size: 20px;
    color: $bg;
    font-weight: 700;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author{
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span{
      font-size: 14px;
      font-weight: 500;
    } 
  }
  &-star{
    font-size: 12px;
    span{
      color: #000;
    }
  }
}
.products__bottom-btn{
  margin-top: 45px 5px 0;
  text-align: center;
  button{
    margin: 45px 5px 0;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    border: none;
    background-color: #fff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
  }
}  

// END PRODUCTS

// START PRODICTS-SLIDER
.product-slider{
  padding: 110px 0px 120px; 
  .slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
      display: inline-block;
      margin-right: 3px;
      margin-left: 3px;
      &.slick-active{     // ***************************************************************************************
        button{
          background-color: $green;
        }
      }
      button {
        border-radius: 50%;
        background-color: rgb(233,233,233);
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
// END PRODICTS-SLIDER

//START FEATURES
.features {
  background-color: $bg;
  padding: 95px 0 120px;
  &__inner-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.features__title{
  color: #fff;
  margin-bottom: 55px;
}
.features__item{
  max-width: 320px;
  width: 100%;
  text-align: center;
  &-img{
    width: 113px;
    height: 113px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  &-title{
    font-size: 24px;
    color: #fff;
    margin-bottom: 18px;
  }
  &-text{
    color: #b0bec5;
  }
}
//END FEATURES

//START AUTORS
.autors{
  background-image: url(../images/autors-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__info{
    background-color: #8bc34a;
    padding: 55px 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    &-text{
      font-size: 30px;
      color: #fff;
      line-height: 36px;
      max-width: 257px;
      text-align: center;
    }
    &-btn{
      padding: 0px 45px;
      background-color: #fff;
      font-size: 18px;
      color: $bg;
      margin-left: 45px;
      height: 66px;
      line-height: 66px;
    }
  }
}
//END AUTORS

// START TUTORIAL
.tutorial{
  padding: 70px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
  }
  &__images{
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.tutorial__item{
  &-title{
    background-color: #f8f8f8;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding: 30px 10px;
    color: $bg;
    text-align: center;
  }
}
// END TUTORIAL


.breadcrumbs{
  & .breadcrumbs__inner{
    padding: 37px 0 30px;
  }
  & .breadcrumds__list{
    font-size: 15px;
    display: flex;
    & li + li{
      margin-left: 10px;
    }
    & span{
      color: $bg;
    }
  }
  & .breadcrumds__list li:first-child{
    & a{
      color: #b0bec5;
    }
  }
}

//START FOOTER
.footer{
  background-color: $bg;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 100px 0 88px;
  }
}
.footer__copy{
  border-top: 1px solid #424d53;
}
.footer__copy-text{
  text-align: center;
  font-size: 15px;
  color: #919699;
  padding: 25px 0 25px;
}
.footer__col{
  max-width: 270px;
  width: 100%;                              // потомучто флекс элементы
  &-menu{
    max-width: 220px;
  }
  &-title{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text{
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}
.footer__info{
  margin-top: 18px;
  @include f500;
  color: #fff;
  padding-left: 30px;
  position: relative;
  &::before{
    content:  "\f041";
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }
}
.footer__info-phone{
  &::before{
    content:  "\f095";
  }
}
.footer__col-list{
  a{
    margin-bottom: 13px;
    color: #b7c3c8;
    padding-left: 22px;
    position: relative;
    &::before{
      content: '\f105';
      color: $green;
      position: absolute;
      left: 0;
      font-size: 18px;
      font-family: 'icomoon';
    }
  }
}

.footer__social-link{
  margin-bottom: 35px;
  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }
  a{
    width: 28px;
    height: 28px;
    background-image: url(../images/css_sprites.png);
  }
}
.link-twitter{
  background-position: 0 -28px;
}
.link-youtube {
  background-position: -28px -28px;
}
.link-pinterest{
  background-position: -56px -0;
}
.link-linledin{
  background-position: -28px -0;
}
.footer__form-title{
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
}
.footer__form{
  position: relative;
  input{
    border: none;
    background-color: #2f3c43;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    padding-left: 13px;
    padding-right: 50px;
    &::placeholder{
      color: #697378;
    }
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    height: 40px;
    width: 43px;
    cursor: pointer;
    &::before{
      content: '\f124';
      position: absolute;
      font-family: 'icomoon';
      color: #fff;
      font-size: 20px;
      top: 11px;
      left: 13px;
    }
  }
}
//END FOOTER

// START PRODUCT-ONE
.product-one{
  padding-bottom: 100px;
  background-color: $grey;
}
.product-one__inner{
  display: flex;
}
.product-one__content{
  margin-right: 31px;
  max-width: 870px;
}
.product-one__images-inner{
  background-color: #fff;
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}
.product-one__images{
  max-width: 829px;
  width: 100%;
  height: 422px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;      //**********************************bg-image для мобильности что-бы ей было комфортно********************************
}
.product-one__title{
  font-size: 30px;
  color: $bg;
  line-height: 40px;
  @include f500;
  margin-top: 30px;
  margin-bottom: 20px;
}
.product-one__text{
  font-size: 16px;
  color: #707070;
  margin-bottom: 35px;
  margin-top: 20px;
}
.product-one__box{
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.product-one__link{
  a{
    width: 150px;
    color: $grey;
    font-size: 16px;
    padding: 16px 8px;
  }
  & + a{
    margin-left: 20px;
    
  }
}
.link-live{
  background-color: $red;
}
.link-screenshots{
  background-color: #455a64;
}
.link-documentation{
  background-color: $green;
}
.product-one__social{
  a{
    width: 54px;
    height: 50px;
    position: relative;
    & + a{
      margin-right: 3px;
    }
    &::before{
      font-size: 18px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.icon-facebook{
  background-color: #6370b6;  
}
.icon-twitter{
  background-color: #64b5f6;
}
.icon-linkedin{
  background-color: #4f71ce;
}
.icon-pinterest-p{
  background-color: #d32f2f;
}
.product-one__more-title{
  font-size: 18px;
  @include f500;
  color: $bg;
  padding: 18px 25px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  margin-bottom: 28px;
}



.product-one__more-icons{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productmini{
  margin-bottom: 27px;
  display: flex;
  height: 90px;
  max-width: 270px;
  width: 100%;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}
.productmini__images{
  width: 100px;
  height: 90px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.productmini__name{
  @include f500;
  font-size: 14px;
  color: $bg;
}
.productmini__thema{
  color: $green;
  font-size: 12px;
}
.productmini__price{
  @include f700;
  font-size: 18px;
  color: $bg;
}
.tabs{
  display: flex;
  text-align: center;
  border: 1px solid #d7d7d7;
  .tab{
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    color: #70838d;
    padding: 20px 0;
    cursor: pointer;
    & + .tab{
      border-left: 1px solid #d7d7d7;
    }
  }
}
.tab_content{
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-top: none;
  padding: 30px 30px 50px;
}
.product-one__more{
  padding-top: 55px;
}
.tab-item{
  display: none;
  &:first-child{
    display: block;
  }
}
.tab-item__list{
  min-width: 550px;
    width: 550px;
  max-height: 200px;
  line-height: 36px;
  font-size: 16px;
  color: #707070;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // max-width: 550px;
  // column-count: 2;
  // column-gap: 25px;
}

.aside__item{
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 32px 32px;
  margin-bottom: 30px;
  width: 270px;
}
.aside__title{
  border-bottom: 1px solid rgb(194, 194, 194);
  font-size: 20px;
  color: #263228;
  padding: 22px 0 19px;
  @include f700;
}
.price__box{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.price__product{
  font-size: 22px;
  @include f500;
  color: $red;
}
.product__price{
  button{
    margin-bottom: 7px;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    border: none;
    background-color: $text;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif !important;  // ********************************чтобы icomoon не перебивал roboto
    text-align: center;
    display: block;
    padding: 17px 5px 15px;
    width: 100%;
    cursor: pointer;
    &::before{
      font-weight: 400;
      font-family: 'icomoon';                   //*****************************************************
      padding-right: 8px;
    }
  }
  .icon-shopping-cart{
    background-color: $green;
  }
  .icon-heart-o{
    background-color: #123d61;
  }
}
.product-author__box{
  padding: 25px 0;
  display: flex;
}
.author__avatar{
  margin-right: 14px;
}
.author__name{
  font-size: 18px;
  color: $bg;
  margin-bottom: 2px;
}
.author__info-link{
  color: #707070;
  font-size: 13px;
  padding: 6px 9px 5px;
  border: 1px solid #d6d6d6;
}
.author__awards-list{
  li{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: relative; 
    &::before{
      position: absolute;
      top: 6px;
      left: 0;
      right: 0;
    }
    & + li {
      margin-left: 4px;       //******************* inline-block элементы имеют стандартыный отступ в 4px с лева и с права, таккже эти элементы не будут реагировать на mt mb и pt pb
    }
  }
  .icon-meh-o{
    background-image: url(../images/awards.png);
    width: 34px;
    height: 37px;
  }
  .icon-pegelines{
    background-image: url(../images/awards.png);
    width: 34px;
    height: 37px;
  }
  .icon-flash{
    background-image: url(../images/awards.png);
    width: 34px;
    height: 37px;
  }
  .icon-foursquare{
    background-image: url(../images/awards.png);
    width: 34px;
    height: 37px;
  }
  .icon-yen{
    background-image: url(../images/awards.png);
    width: 34px;
    height: 37px;
  }
}
.aside__item-sales{
  padding-top: 23px;
  font-size: 16px;
  @include f300;
  color: #707070;
  span{
    font-size: 20px;
    @include f700;
    color: #263238;
    padding-right: 13px;
    &::before{
      content: "\f07a";
      color: #a6b5bb;
      padding-right: 20px;
      font-family: 'icomoon';
    }
  }
}
.aside__item.sales-number{
  padding-bottom: 25px;
}
.information__line{
  font-size: 14px;
  color: #70838d;
  margin-top: 20px;
  line-height: 18px;
  span{
    color: $bg;
    @include f500;
  }
}
//END PRODUCT-ONE

//START PAGE 404
.page-404__wrapper,
.about__wrapper,
.contact__wrapper{
  border: 1px solid #dcdcdc;
  background-color: #fff;
  margin-bottom: 150px;
}
.page-404__head,
.about__head,
.contact__head{
  font-size: 24px;
  color: #444;
  padding: 23px 27px;
  @include f500;
  border-bottom: 1px solid #dfdfdf;
}
.page-404__inner{
  text-align: center;
  background-color: $green;
  color: #fff;
}
.page-404__404{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 300px;
  padding-top: 70px;
  padding-bottom: 20px;
  line-height: 300px;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    background-image: url(../images/404.png);
    width: 150px;
    height: 292px;
    margin-left: 20px;
  }
}
.page-404__title{
  margin-bottom: 30px;
  @include f300;
}
.page-404__text{
  max-width: 500px;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 30px;
}
.page-404__link{
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 30px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 100px;
}
//END PAGE 404

//START ABOUT
.about__inner{
  padding: 0 50px;
}
.about__box{
  h3{
    font-size: 20px;
    @include f700;
    color: #444;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 40px;
  }
}
//END ABOUT

//START COONTACT
.contact__head{
  padding-left: 40px;
  padding-right: 40px;
}
 .contact__inner{
  padding: 35px 40px 15px;
 }
 .contact__map{
   margin-bottom: 50px;
   iframe{
     width: 100%;
     height: 414px;
   }
 }
 .contact__box{
   display: flex;
 }
 .contact__info{
   margin-right: 30px;
   max-width: 330px;
   width: 100%;
 }
 .contact__info-item{
   margin-bottom: 30px;
 }
 .contact__info-title{
   padding-bottom: 20px;
   position: relative;
   font-size: 20px;
   @include f500;
   color: $bg;
   padding-left: 40px;
   margin-bottom: 20px;
   &::after{
     content: '';
     width: 44px;
     height: 4px;
     background-color: $green;
     left: 40px;
     bottom: 0;
     position: absolute;
   }
   &::before{
     color: $green;
     font-size: 24px;
     position: absolute;
     left: 0;
   }
 }
 .contact__info-content{
  padding-left: 40px;
  color: #707070;
  max-width: 230px;
 }
 .contact__form-title{
   margin-bottom: 25px;
   font-size: 24px; 
   @include f500;
   color: #333;
 }
 .contact__form-row{
   display: flex;
   justify-content: space-between;
 }
 .contact__form{
   width: 100%;
   input{
    border: none;
    height: 43px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #f1f4f5;
    width: 350px;
    margin-bottom: 30px;
    &::placeholder{
      font-size: 15px;
      color: #7a7a7a;
    }
   }
   textarea{
    border: none;
    padding: 13px 17px;
    height: 191px;
    background-color: #f1f4f5; 
    width: 100%;
    display: block;
    resize: none;
    margin-bottom: 23px;
    &::placeholder{
      font-size: 15px;
      color: #7a7a7a;
    }
   }
   button{
    border: none;
    background-color: $green;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    @include f700;
    color: #fff;
    padding: 20px 5px;
    width: 190px;
   }
 }
//START COONTACT

@import 'media.scss';

